<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="local" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Port=3306;Database=arfighter;Uid=root;Pwd=skyarvr180313" />
      <add name="dev" providerName="MySql.Data.MySqlClient" connectionString="Server=;Database=;Uid=;Pwd=" />
      <add name="prep" providerName="MySql.Data.MySqlClient" connectionString="Server=47.92.138.158;Port=4406;Database=arfighter;Uid=chicken;Pwd=wedongroot;SslMode=none" />
    </connectionStrings>
    <appSettings>
      <add key="connectionName" value="prep" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.data>
      <DbProviderFactories>
        <remove invariant="MySql.Data.MySqlClient" />
        <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      </DbProviderFactories>
    </system.data>
</configuration>